<div class="float-button f-home"></div>
<div>
    <div class="title-text">{{primary_address}}</div>
    <div class="subtitle-text">{{secondary_address}}</div>
    <div class="large-6 small-6 columns" style="padding-right: 7px; padding-left: 0px; margin-bottom: 8px; margin-top: 8px">
        <a id="address-problem" class="button action-buttons" style="background-color: white; color: rgb(62, 62, 62)" data-reveal-id="myModal">DESACUERDO</a>
    </div>
    <div class="large-6 small-6 columns" style="padding-right: 0px; padding-left: 4px; margin-top: 8px">
        <a id="confirm-address" class="button action-buttons">CONFIRMAR</a>
    </div>
</div>