<div class="confirm-icons person-icon"></div>
<div class="title-text required">{{name}} {{last_name}}</div>
<div class="subtitle-text required">{{email}} - {{phone}}</div>
<div class="subtitle-text required">Boleta <b>{{sec_id}}</b></div>
<div class="confirm-divider"></div>
<div class="confirm-icons place-icon"></div>
<div class=" action-icons users-affected">{{users}}</div>
<div class="title-text required" data-confirm="primary_address">{{primary_address}}</div>
<div class="subtitle-text required" data-confirm="secondary_address">{{secondary_address}}</div>
<div class="tag-empresa required" data-confirm="tag">chilectra</div>
<div class="time">{{time}}</div>
<div class="required" data-confirm="latitude" style="display: none">{{latitude}}</div>
<div class="required" data-confirm="longitude" style="display: none">{{longitude}}</div>