<div style="padding: 16px;">
    <div style="height: 27px; width: 27px; background-image: url(&quot;resources/images/close_gray.svg&quot;); position: absolute; background-repeat: no-repeat; background-size: 27px auto; right: 13px; top: 13px;" id="close_advices"></div>
    <div style="font-size: 18px; padding-right: 45px; line-height: 20px;">Si esta no es tu ubicación exacta</div>
    <div style="font-size: 16px; color: rgb(119, 119, 119); margin-bottom: 16px;">prueba con alguna de estas soluciones:</div>
    <ul>
        <li>Configura tu teléfono para para que determine tu ubicación con mayor precisión.</li>
        <li>Intenta arrastrar el marcado que está dentro del mapa hasta la ubicación que se acerque más a tu dirección.</li>
        <li>Escribe tu dirección en el buscador que se encuentra en la parte superior.</li>
    </ul>
</div>